* {
    font-family: "Noto Serif KR", serif;
    font-weight: 400;
}
li {
    list-style: none;
}
// .vh-100 {
//     height: 100vh;
// }

#slide {
    height: 450px;
}
#about {
    height: 450px;
}
#review {
    height: 450px;
}
#contact {
    height: 450px;
}

#hd {
    li {
        a {
            color: black;
        }
    }
}
#review {
    .row {
        .col-4 {
            height: 450px;
            color: white;
        }
    }
}
#about {
    .container {
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
