* {
  font-family: "Noto Serif KR", serif;
  font-weight: 400;
}

li {
  list-style: none;
}

#slide {
  height: 450px;
}

#about {
  height: 450px;
}

#review {
  height: 450px;
}

#contact {
  height: 450px;
}

#hd li a {
  color: black;
}

#review .row .col-4 {
  height: 450px;
  color: white;
}

#about .container img {
  max-width: 100%;
  max-height: 100%;
}

#contact .form {
  padding: 10px;
  background-color: rgb(196, 196, 196);
  border-radius: 30px;
}