* {
  font-family: "Noto Serif KR", serif;
  font-weight: 400;
}

li {
  list-style: none;
}

.vh-100 {
  height: 100vh;
}

#hd li a {
  color: black;
}

#review .row .col-4 {
  height: 100px;
  border: 1px solid black;
}